@charset "utf-8";

@font-face { 
    font-family: 'NanumSquareNeo-Variable'; 
    font-style: normal; 
    font-weight: 100; 
    src: url('../font/NanumSquareNeo-cBd.woff') format('woff')
}
@font-face { 
    font-family: 'NanumSquareNeo-Variable'; 
    font-style: normal; 
    font-weight: 700; 
    src: url('../font/NanumSquareNeo-dEb.woff') format('woff')
}
@font-face { 
    font-family: 'NanumSquareNeo-Variable'; 
    font-style: normal; 
    font-weight: 300; 
    src: url('../font/NanumSquareNeo-aLt.woff') format('woff')
}
@font-face { 
    font-family: 'NanumSquareNeo-Variable'; 
    font-style: normal; 
    font-weight: 400; 
    src: url('../font/NanumSquareNeo-bRg.woff') format('woff')
}
@font-face { 
    font-family: 'NanumSquareNeo-Variable'; 
    font-style: normal; 
    font-weight: 900; 
    src: url('../font/NanumSquareNeo-eHv.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 400; 
    src: url('../font/SUIT-Regular.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 500; 
    src: url('../font/SUIT-Medium.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 600; 
    src: url('../font/SUIT-SemiBold.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 700; 
    src: url('../font/SUIT-Bold.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 900; 
    src: url('../font/SUIT-Heavy.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 300; 
    src: url('../font/SUIT-Light.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 100; 
    src: url('../font/SUIT-Thin.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 800; 
    src: url('../font/SUIT-ExtraBold.woff') format('woff')
}

@font-face { 
    font-family: 'SUIT'; 
    font-style: normal; 
    font-weight: 200; 
    src: url('../font/SUIT-ExtraLight.woff') format('woff')
}



/* */
* {box-sizing: border-box;;}
BODY {font-size:16px; color:#111; font-family: 'SUIT', 'NanumSquareNeo-Variable', Dotum, "돋움", Verdana, Arial, sans-serif;}
header {margin:0; padding:0;}
h5 {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
/* CSS reset Start*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

html {
	margin:0;
	padding:0;
	overflow-y: scroll; 
	
	width:100%;
	height:100%;

}

body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	margin:0;
	width:100%;
}
fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
a {
text-decoration:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* CSS reset End*/


/*LOW VER. IE SUPPORT HTML5*/
article, aside, hgroup, header, footer, figure, figcaption, section,time, mark, canvas, video, audio, details, summary {display:block;}


th {
	text-align:center;
	font-weight:bold;
}

a {color: #444444}
a:link {color: #444444; text-decoration:none}
a:visited {color: #444444; text-decoration:none}
a:active {color: #444444; text-decoration:none}
a:hover {color: #444444; text-decoration:none}

.input{border:1px solid #cccccc; background-color:#FFF;height:20px; vertical-align:middle; }
.input_select{border:1px solid #cccccc; background-color:#FFF;height:20px; vertical-align:middle; }
.input_select{border:1px solid #cccccc; background-color:#FFF;height:20px; vertical-align:middle; }
.input_text{border:1px solid #cccccc; background-color:#FFF; vertical-align:middle; height:18px; }
.input_text_field{border:1px solid #cccccc; width:95%; background-color:#FFF; vertical-align:middle; height:200px;}

.text_left {color:#444444; text-align:left;}
.text_center {color:#444444; text-align:center;}
.text_right {color:#444444; text-align:right;}

.insert_page_text {padding-left:20px;}
.insert_page_text_b {padding-left:20px;font-weight:bold}

#wrap {width:100%;}
#default_size {width:100%; text-align:center;}


