@charset "utf-8";

body {min-width:1600px;max-width: 1920px;margin:0 auto;}

#header  {position:absolute;width:100%; height:125px; z-index:999; background-color: #fff;}

#header_content {width:100%; margin:0 auto;height:125px;}
#header_content .logo {position:absolute; top:30px; left:160px; z-index:1000;}
#header_content .logo a{display:block;}


/* gnb */
#gnb {position:relative;top:0; height:125px;}
#gnb ul {display:flex;justify-content: flex-end; width:1600px; margin: 63px auto 0;text-align:center;}
#gnb ul:after {content:" "; display:block; clear:both;}
#gnb ul li {margin: 0 30px; text-align:center; box-sizing:border-box;}
#gnb ul li > a {display:block; color:#333; font-size:20px;  letter-spacing:-0.02em; font-weight: 600;}
#gnb ul li:hover > a  {color:#0092E5;}
#gnb ul li:hover .submenu { display:block;}

#gnb ul li .submenu {display:none; width:200px; margin-left:-20px; line-height:40px;  padding:20px 0;background:#0092E5; animation:menuDown 0.3s linear;
	border-radius:22px;
	-webkit-border-radius:22px;
	-moz-border-radius:22px;
}
#gnb ul li .submenu a {display:block;color:#fff; font-size:17px;letter-spacing:-0.04em;}
#gnb ul li .submenu a:hover, #gnb ul li .submenu a:focus {color:#f8ffd4;}

@keyframes menuDown{
	0% {
        opacity:0; 
		margin-top:-20px;
    }

    100% {
        opacity:1; 
		margin-top:0;
    }
}


#mainvisual { width:100%; height:931px; background:url('../img/main/main_bg.png') center 0 no-repeat;position: relative;}
#mainvisual  .main_txt {background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,1) 100%);
    position:absolute; bottom: 0;transform: translate(-50%, 0);left: 50%; width: 100%;padding: 130px 0 50px;}
#mainvisual  .main_txt .main_txt_wrap {width:1600px; margin:0 auto;}
#mainvisual  .main_txt h2 {font-size: 38px; font-weight: 700;font-family: 'NanumSquareNeo-Variable';line-height: 38px;color: #fff;margin: 0 0 15px;}
#mainvisual  .main_txt p {font-size: 22px;font-weight: 400;color: #D9D9D9;}

#container {width:100%; }

h3.title {color: #333; font-size: 34px; font-weight: 900; letter-spacing: -0.02em; line-height: 34px;}
a.more_btn {color: #666; font-size: 20px; font-weight: 500; letter-spacing: -0.02em;border: 1px solid #707070; padding: 15px 25px;border-radius: 28px;}

.section01 {padding:105px 0;background: url('../../publish/img/main/section01_bg.png') no-repeat center / cover;}
.section01 .top {width:1600px; margin: 0 auto 60px;display: flex;align-items: flex-end;}
.section01 .top p {font-size: 24px; line-height: 24px; color: #666; letter-spacing: -0.02em; font-weight: 500;margin: 0 0 0 60px;}


/* banner-slider */
.slide_box  {width: 100%;height:315px; margin:0 auto 50px;}
.slide_box #gsefSpan p {display:inline-block; width:450px; height:315px;margin:0 30px 0 0;  text-align:center;position:Relative;overflow:hidden; background-color: #666; border-radius: 20px;}
.slide_box #gsefSpan p a {width:100%;display:block;}
.slide_box #gsefSpan p img {display:block;position:absolute; top:0; bottom:0; left:0; right:0; margin:auto; max-width:100%; }